<h1>Make your form here</h1>
<form action="/pirates" method="post">
<p>Pirate</p>
  <label for="name-inp">Pirate name:</label>
  <input type="text" name="pirate[name]" id="name-inp"/><br />

  <label for="weight-inp">Pirate weight:</label>
  <input type="text" name="pirate[weight]" id="weight-inp"/><br />

  <label for="height-inp">Pirate height:</label>
  <input type="text" name="pirate[height]" id="height-inp"/><br />
<!-- ship 1 -->
<p>Ship 1</p>
  <label for="ship-name-inp">Ship name:</label>
  <input type="text" name="ship[][name]" id="ship_name_1"/><br />

  <label for="ship-type-inp">Ship type:</label>
  <input type="text" name="ship[][type]" id="ship_type_1"/><br />

  <label for="ship-booty-inp">Ship booty:</label>
  <input type="text" name="ship[][booty]" id="ship_booty_1"/><br />

<!--  ship 2  -->
<p>Ship 2</p>
<label for="ship-name-inp-2">Ship name:</label>
<input type="text" name="pirate[ships][][name]" id="ship_name_2"/><br />

<label for="ship-type-inp-2">Ship type:</label>
<input type="text" name="pirate[ships][][type]" id="ship_type_2"/><br />

<label for="ship-booty-inp-2">Ship booty:</label>
<input type="text" name="pirate[ships][][booty]" id="ship_booty_2"/><br />
  <input type="submit" value="Submit">
</form>
