<h1>Make your form here</h1>
<form action="/pirates" method="post">
  <label for="pirate[name]"></label>
  <input id="pirate[name]" type="text" name="pirate[name]" placeholder="Pirate Name">

  <label for="pirate[weight]"></label>
  <input id="pirate[weight]" type="text" name="pirate[weight]" placeholder="Pirate Weight">

  <label for="pirate[height]"></label>
  <input id="pirate[height]" type="text" name="pirate[height]" placeholder="Pirate Height">

  <label for="pirate[ships][][name]"></label>
  <input id="pirate[ships][][name]" type="text" name="pirate[ships][][name]" placeholder="ship_name_1">

  <label for="pirate[ships][][type]"></label>
  <input id="pirate[ships][][type]" type="text" name="pirate[ships][][type]" placeholder="ship_type_1">

  <label for="pirate[ships][][booty]"></label>
  <input id="pirate[ships][][booty]" type="text" name="pirate[ships][][booty]" placeholder="ship_booty_1">

  <label for="pirate[ships][][name]"></label>
  <input id="pirate[ships][][name]" type="text" name="pirate[ships][][name]" placeholder="ship_name_2">

  <label for="pirate[ships][][type]"></label>
  <input id="pirate[ships][][type]" type="text" name="pirate[ships][][type]" placeholder="ship_type_2">

  <label for="pirate[ships][][booty]"></label>
  <input id="pirate[ships][][booty]" type="text" name="pirate[ships][][booty]" placeholder="ship_booty_2">

  <input type="submit" name="submit" value="Submit">
</form>
